.css-7dv1rb-MuiButtonBase-root-MuiFab-root-MuiSpeedDial-fab {
  width: 43px !important;
  height: 43px !important;
  background-color: #1976d20a !important;
  font-size: 18px !important;
  color: #a9aeba !important;
}
