:root {
  --bg-color: #131313;
  --bg-up-color: #2e343d;
  --highlight: #6b8afd;
  --text-color: #a9aeba;
}

.main-container {
  color: var(--text-color);
  width: fit-content;
  display: inline-flex;
  justify-content: center;
  padding: 20px 10px 20px 10px;
  text-align: center;
}
/* .container{
  display: flex;
  justify-content: space-between;
}    */
.heading {
  color: var(--text-color);
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
.icon {
  display: inline-grid;
  /* width: 125px; */
}
.imgg {
  width: 50px;
}
.input {
  background-color: transparent;
  border: none;
  margin: 0px 15px 15px 10px;
  padding: 12px;
  /* width: 100%; */
  border-bottom: 3px solid grey;
  border-radius: 4px 4px 3px 3px;
  color: var(--text-color);
  font-size: 15px;
}
input:focus {
  box-shadow: 0 0 3px #1670be;
  outline-offset: 0px;
  outline: none;
}
.social-icons {
  margin-top: 25px;
}
.musician {
  width: 100px;
  margin-bottom: -4px;
  filter: drop-shadow(7px 10px 7px #131313);
}
.char {
  background-color: red;
  width: 110px;
  /* margin-left: 10px; */
  margin: 25px auto 0px auto;

  border: 1px solid black;
  border-radius: 15px;
}
.forget {
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  margin-top: 4px;
}
.sign-up {
  color: var(--highlight);
  font-weight: 600;
  cursor: pointer;
  margin: 0;
}
.signup-btn {
  background: var(--highlight);
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  border: none;
  width: 110px;
  color: var(--bg-up-color);
  font-weight: 600;
  font-family: "Popins", sans-serif;
  cursor: pointer;
  margin: 20px 0 10px 0;
}
.signup-btn:hover {
  filter: drop-shadow(1px 3px 10px #572ae7);
  color: var(--text-color);
  background-color: #4e75ff;
}
.input-row {
  display: flex;
  justify-content: space-between;
}
/* .char {
  transform: perspective(750px) translate3d(0px, 0px, -250px) rotateX(27deg)
    scale(0.9, 0.9);
  border-radius: 20px;
  border: 5px solid #e6e6e6;
  box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-in-out transform;
}
.char:hover {
  transform: translate3d(0px, 0px, -250px);
} */
small {
  /* display: flex; */
}
